.navbarcenter{
    align-items: center;
}
.wlogo{
    padding: 5px;
}
.backImg{
    min-height: 80vh; 
    background-size: 100% 100%; 
    background-repeat: no-repeat;
}
.headingcenter{
    color: white;
    padding-top: 5%;
    padding-left: 20%;
    font-family: bolder;
    font-size: 80px;
}
.centertext{
    color: white;
    padding-left: 20%;
    width: 40%;
   
}
.btn1{
    background-color: #08083c;
    color: white;
    border-radius: 12px;
    margin-top: 5px;
    padding: 8px;
    margin-left: 20%;
    margin-bottom: 5%
}
.Menutitle{
    color: white;
    font-size: 30px;
    text-align: center;
    font-family: sans-serif;
    padding-top: 30px;
}
.backImgs{
    background-size: 100% 100%; 
    background-repeat: no-repeat;
}
p{
    color: white;
}
.menuheading{
    text-align: center;
    
}
.cards{
    padding-top: 8%;
    padding-left: 10%;
    padding-bottom: 10%;
}
img {
  width: 150px;
  height: 150px;
  /* border-radius: 50%;
  object-fit: cover; */
  border: black;
  clip-path: circle(50%);
}
.group{
    padding-top: 5%;
    display: grid;
    grid-template-columns: 6fr 6fr ;
    margin-left:7%;
}
.img2{
    width: 400px;
    height: 400px;
    margin-bottom: 7%;
}
.btn2{
    background-color: #08083c;
    color: white;
    border-radius: 12px;
    margin-top: 5px;
    padding: 8px;
    margin-left: 20%;
}
.backgroundImage{
    min-height: 80vh; 
    background-size: 100% 100%; 
    background-repeat: no-repeat;
    opacity: 0.8;
}
.imagecenter{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5%;
}
.statisticsCard{
    color: white;
    text-align: center; 
    justify-content: center; 
    padding: 10px;
    font-size:xx-large; 
    font-weight: 900; 
    border-radius: 50%; 
    width: 150px;
    height: 150px; 
    border: 2px solid white; 
    background-color: #12122e;
}
.TextCenter{
    text-align: center;
    justify-content: center;
}
.SubscribeboxImage{
    min-height: 65vh; 
    background-size: 100% 100%; 
    background-repeat: no-repeat;
}
.subscribebox{
    width:40%;
    background:#fff;
    border-radius:30px;
    display:flex;
    align-items:center;
    margin-left: auto;
    margin-right: auto;

}
input{
    border-radius: 20px;
    height: 42px;
    border:none;
    outline: none;
    flex: 1;
}
.btn3{
    border-radius: 20px;
    height: 42px;
    color: white;
    background-color: #08083c;
    font-size:12px;
    font-weight:bold;
}
.griddisplay{
    height: 430px;
    background-color: black;
    color: white;
    display: grid;
    grid-template-columns: 4fr 2fr 2fr 2fr;
    padding-top: 6%;
    padding-bottom: 6%;
}
.Icons{
    
    padding-left: 8%;
}
ul li{
    list-style: none;
    

}
ul li a{
    text-decoration: none;
    color: white; 
    
}
@media screen and (max-width: 700px){
    .btn1{
        margin-bottom: 2%;
    }

    .group{
                grid-template-columns: 1fr;
    }
    .btn2{
        margin:4% ;
        display: block;
        margin: 0 auto;
    }
    .img2{
                width: 100px;
                height: 100px;
                /* margin: 10px; */
                margin-top: 3%;
    }
        
    .subscribebox{
                margin-left: auto;
                margin-right: auto;
                display:flex;
                align-items:center;  
        }
        .SubscribeboxImage{
            min-height: 30vh; 
            background-size: 100% 100%; 
            background-repeat: no-repeat;
        }
        input{
                height: 21px;
                outline: none;
                flex: 1;
            }
        .btn3{
            height: 21px;
            
        }
        .backgroundImage{
            min-height: 20vh; 
            background-size: 100% 100%; 
            background-repeat: no-repeat;
        }
}
@media screen and (max-width:450px) {
    .btn2{
        margin:4% ;
        display: block;
        margin: 0 auto;
    }
    .img2{
                width: 100px;
                height: 100px;
                /* margin: 10px; */
                margin-top: 3%;
    }
    .griddisplay{
        grid-template-columns: 1fr;
        height: auto;
    }
    .subscribebox{
                margin: 0;
                display:flex;
                align-items:center;  
        }
        input{
                height: 21px;
                flex: 1;
            }
        .btn3{
            height: 21px;
            
        }
        .backgroundImage{
            min-height: 20vh; 
            background-size: 100% 100%; 
            background-repeat: no-repeat;
        }

}
